<!doctype html>
<html data-ng-app="eventsApp">
	<head>
		<title>Cache Sample</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">		
	</head>
	<body ng-cloak>
		<div class="container">
			<div ng-controller="CacheSampleController">
				key:<input class="form-control input-sm" type="text" ng-model="key"></input>
				value:<input class="form-control input-sm" type="text" ng-model="value"></input>
				<button type="button" class="btn btn-success" ng-click="addToCache(key,value)">Add To Cache</button>
				<br/>
				<br/>
				<input class="form-control input-sm" type="text" ng-model="keyToRead" />
				<br />
				<h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
				<h3>Cache Stats: {{getCacheStats()}}</h3>
			</div>		 
		</div>
			

		<script src="lib/jquery-2.1.0.js"></script>
		<script src="lib/underscore.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="lib/angular-resource.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/CacheSampleController.js"></script>
		<script src="js/services/CacheService.js"></script>
	</body>
</html>